
<div class="header">
	<div class="prevActions">
		<div class="btn btn-default" ng-click="setStartView(2016, 6, 20)">20/06</div>
		<div class="btn btn-default" ng-click="prevCustom(15)"><<</div>
		<div class="btn btn-default" ng-click="prevDay()"><</div>
	</div>
	<div class="nextActions">
		<div class="btn btn-default" ng-click="nextDay()">></div>
		<div class="btn btn-default" ng-click="nextCustom(15)">>></div>
		<div class="btn btn-default" ng-click="setEndView(2016, 8, 20)">20/08</div>
	</div>
	<div class="centerActions">
		<div class="btn btn-default btn-sm" ng-click="zoomIn(1)">Zoom In</div>
		<div class="btn btn-default btn-sm" ng-click="centerView()">Center on today</div>
		<div class="btn btn-default btn-sm" ng-click="zoomOut(3)">Zoom Out</div>
	</div>
	<div class="clearfix"></div>
</div>
<table>
	<thead>
		<tr class="monthLine">
			<th ng-repeat="month in enumMonths" colspan="{{month.numDays}}" class="month">{{month.name}}</th>
		</tr>
		<tr class="dayLine">
			<th ng-repeat="day in enumDays" title="{{day.title}}"
				ng-class="{'today': day.today, 'sunday': day.date.getDay() === 0, 'month': day.isLastOfMonth}">
				<span ng-show="cellWidth > 18">{{day.num}}</span>
			</th>
		</tr>
	</thead>
</table>
<div class="eventsContainer">
	<table>
		<tbody>
			<tr>
				<td ng-repeat="day in enumDays" title="{{day.title}}"
					ng-class="{'today': day.today, 'sunday': day.date.getDay() === 0, 'month': day.isLastOfMonth}">
					<span ng-show="day.nbEvents > 0">{{day.nbEvents}}</span>
				</td>
			</tr>
		</tbody>
	</table>
	<event ng-repeat="ev in renderedEvents" event-id="{{ev.id}}" title="{{ev.title}}"
		   ng-style="ev.locScale"
		   ng-class="[ev.type]">
		<handle class="leftHandle"  event-id="{{ev.id}}" handle-side="left"></handle>
		<handle class="rightHandle" event-id="{{ev.id}}" handle-side="right"></handle>
		<label>#{{ev.id}} - {{ev.title}}</label>
	</event>
	<eventhelper></eventhelper>
</div>