
html, body {
	font-family: Arial, sans;
	background-color: #FFF;
	color: #000;
}

a, a:active, a:hover, a:visited, a:focus, select, select:active, select:hover, select:focus {
	outline: 0 !important;
}

/***** Main Scheduler element *****/
scheduler {
	position: relative;
	display: block;
	width: 100%;
	background-color: #FFF;
	border: 1px solid #DDD;
	min-height: 100px;
	font-size: 0.9em;
	margin: 25px 0 25px 0;
}
scheduler .header {
	display: block;
	width: 100%;
	padding: 5px 15px;
	background-color: #EEE;
}
scheduler .header .prevActions {
	float: left;
}
scheduler .header .nextActions {
	float: right;
}
scheduler .header .centerActions {
	text-align: center;
}


/***** Scheduler grid table *****/
scheduler table {
	width: 100%;
	table-layout: fixed;
}
scheduler table tr th, scheduler table tr td {
	border-right: 1px solid #DDD;
	padding: 0; margin: 0;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
}

/***** Scheduler grid table HEAD *****/
scheduler table tr.monthLine th {
	font-size: 1.2em;
	background-color: #F5F5F5;
	height: 45px;
}
scheduler table tr.dayLine th {
	font-weight: bold;
	background-color: #F5F5F5;
}

/***** Scheduler grid table BODY *****/
scheduler table tbody tr td {
	color: #BBB;
	vertical-align: bottom;
}
scheduler table tbody tr td:nth-child(odd) {
	background-color: #FAFAFA;
}
scheduler table tbody tr td:nth-child(even) {
	background-color: #FFF;
}

/***** Scheduler grid special cells *****/
scheduler table td.today {
	background-color: #FFDBCE !important;
}
scheduler table td.sunday {
	border-right: 1px solid #FFB8B8 ;
}
scheduler table td.month {
	border-right: 1px solid #F55;
	height: 30px;
}
scheduler table td.month:last-child {
	border: none;
}


/***** Scheduler events container *****/
scheduler .eventsContainer {
	width: 100%;
	z-index: 100;
}

/***** Scheduler events *****/
scheduler event {
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	margin-top: 125px;
	background-color: #46b8da;
	color: #FFF;
	padding: 10px 4px;
	width: 61px;
	cursor: move;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
	z-index: 200;
}
scheduler event.overLeft {
	border-radius: 50px 0 0 50px;
}
scheduler event.overRight {
	border-radius: 0 50px 50px 0;
}

/***** Scheduler events special classes *****/
scheduler event.past {
	background-color: #888 !important;
}
scheduler event.current {
	border-left: 8px solid #DB6548;
	border-right: 8px solid #DB6548;
	border-top: 2px dashed #DB6548;
	border-bottom: 2px dashed #DB6548;
}